@import "../abstract/_variables.scss";
@import "../abstract/_mixins.scss";
/*Le damos una distribución flex,alineamos en columnas los componentes al centro, y le damos 100% del height. */
#registrar {
  height: 100vh;
  @include flex-center-column();
  @include fuente-Reboto();
  /*Le damos una distribución flex, alineamos en columnas los componentes al centro, le damos unas sombras en color negro, un radio para que no
  se vean mas estéticos los componentes y un tamaño de 15rem. */
  #registrar2 {
    padding: size(sm);
    @include flex-center-column();
    box-shadow: 2px 2px 10px color(negro);
    background: color(blanco);
    width: size(xxxxl);
    border-radius: 20px;
    /*Le damos un margen hacia abajo de 0.5rem. */
    div {
      margin-bottom: size(xxxs);
      
    }
  }
}